.user-settings-form {
    height: 100%;
    padding: 24px;

    .card {
        box-shadow: 0 0 8px 5px #ededed;
        border: none;
        width: 70%;

        .save-btn {
            border-radius: 0;
            min-width: 140px;
            margin: 5px 0;
            font-size: 1.2rem;
            text-transform: uppercase;
        }
    }
}