<div class="container-fluid" style="height: 100%;">
    <form [formGroup]="profileForm" (ngSubmit)="saveUserDetails()" style="height: 100%;">
        <div class="d-flex justify-content-center align-items-center user-settings-form">
            <div class="card">
                <div class="card-header px-4 py-3 bg-white">
                    <h4 class="m-0 text-secondary">User Settings</h4>
                </div>
                <div class="card-body p-4">
                    @if(saveSuccess) {

                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        <strong>Success!</strong> User details saved successfully.
                    </div>
                    }
                    <div class="d-flex">
                        <div class="flex-shrink-1 mb-3 me-4">
                            <img src="../../assets/user.png" alt="user" width="150" height="150">
                        </div>
                        <div class="row">
                            <div class="col-lg-6 mb-3">
                                <label class="form-label">First Name <span class="text-danger">*</span></label>
                                <input formControlName="firstName" type="text" class="form-control" />
                            </div>
                            <div class="col-lg-6 mb-3">
                                <label class="form-label">Last Name <span class="text-danger">*</span></label>
                                <input formControlName="lastName" type="text" class="form-control" />
                            </div>
                            <div class="col-lg-6 mb-3">
                                <label class="form-label">Email <span class="text-danger">*</span></label>
                                <input formControlName="email" type="email" class="form-control" />
                            </div>
                            <div class="col-lg-6 mb-3">
                                <label class="form-label">Phone No <span class="text-danger">*</span></label>
                                <input formControlName="phoneNo" type="number" class="form-control" />
                            </div>
                            <div class="col-md-12 mb-3">
                                <label class="form-label">Address <span class="text-danger">*</span></label>
                                <textarea formControlName="address" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="form-group mb-3">
                        <label class="form-label">Email <span class="text-danger">*</span></label>
                        <input formControlName="email" type="email" class="form-control" />
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">Phone No <span class="text-danger">*</span></label>
                        <input formControlName="phoneNo" type="number" class="form-control" />
                    </div> -->
                    <!-- <div class="form-group mb-3">
                        <label class="form-label">Address <span class="text-danger">*</span></label>
                        <textarea formControlName="address" class="form-control"></textarea>
                    </div> -->
                </div>
                <div class="card-footer d-flex justify-content-end bg-white">
                    <button type="submit" class="btn btn-primary text-uppercase px-4 my-2"
                        [disabled]="!profileForm.valid || loading">
                        @if(loading) {
                        <span class="spinner-grow spinner-grow-sm"></span> Saving...
                        } @else {
                        Save Details
                        }

                    </button>
                </div>
            </div>
        </div>
    </form>
</div>