
    <div class="card bg-dark side-navigation">
        <div class="card-body">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link text-white" href="./home" routerLinkActive="active">Map</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="./list" routerLinkActive="active">List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="./settings" routerLinkActive="active">Settings</a>
                </li>
            </ul>
        </div>
    </div>