<nav class="navbar nav-light bg-white sticky-top justify-content-space-between px-3 app-top-bar">
      <a class="navbar-brand text-secondary" href="#">
        <img height="40" src="../../assets/logo.png" alt="Logo">

        <strong class="ms-3">BRAND LOGO</strong>
      </a>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link text-dark" href="#"><i class="fa fa-gear"></i></a>
        </li>
        <li class="nav-item d-flex align-items-center">
            Ramakrishna Manna
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="#"><i class="fa fa-user"></i></a>
        </li>
      </ul>
  </nav>
