<nav class="navbar nav-light bg-white sticky-top justify-content-space-between px-3 app-top-bar py-0">
      <a class="navbar-brand text-secondary" href="#">
        <img height="40" src="../../assets/logo.png" alt="Logo">

        <strong class="ms-3">BRAND LOGO</strong>
      </a>
      <ul class="nav">
        <!-- <li class="nav-item">
          <a class="nav-link text-dark" routerLink="/settings"><i class="fa fa-gear"></i></a>
        </li> -->
        <!-- <div class="vr mx-2"></div> -->
        <li class="nav-item">
          <a class="nav-link text-dark" routerLink="/settings">
            <i class="fa-regular fa-bell"></i> <span class="badge bg-danger ms-1">4</span>
          </a>
        </li>
        <div class="vr mx-2"></div>
        <li class="nav-item dropdown">
            <a style="cursor: pointer;" class="nav-link text-dark dropdown-toggle" data-bs-toggle="dropdown">{{ userName }} <i class="fa fa-user-circle ms-2"></i></a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" routerLink="/settings">
                <i class="fa-solid fa-gear me-3"></i>User Settings
              </a>
            </li>
              <li>
                <a class="dropdown-item" href="#">
                <i class="fa-solid fa-right-from-bracket me-3"></i>Log Out
              </a>
            </li>
            </ul>
        </li>
      </ul>
  </nav>
